@using OrDragon.Models;
@model IEnumerable<OrDragon.Models.Question>
@{Questions questions = (Questions)HttpRuntime.Cache["questions"];}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (Question item in questions.GetList())
        {
            <tr>
                <td>
                    @item.Text
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
